### 1. Import libraries and get path

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
# Project root 3 levels up
project_root = Path.cwd().parents[2]

### 2. Load dataset

In [3]:
df = pd.read_csv(project_root / 'datasets/00_data_preprocessing/Data.csv')
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

### 3. Imputing

In [11]:
# Computing mean of "Age" and "Salary" columns to replace the nan values
age_mean = df.loc[df.Age.notna(), 'Age'].mean()
salary_mean = df.loc[df.Salary.notna(), 'Salary'].mean()

In [12]:
df.loc[df["Age"].isna(), "Age"] = age_mean
df.loc[df["Salary"].isna(), "Salary"] = salary_mean

In [ ]:
df

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes